[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container {
    margin: 5px;
    padding: 5px;
}

.score-table-header {
    vertical-align: bottom;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 1.6em;
    background-color: #f5f5f5;
    color: #292929;
    border-bottom: 2px solid #dddddd;
}

.score-bubble {
    font-size: 16px;
    font-weight: bold;
    color: NavajoWhite;
    background-color: darkred;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid;
    border-width: 3px;
    border-color: white;
}

.status-on-strike {
    color: #435D36;
    font-weight: bold;
}

.status-non-strike {
    color:#646F5E;  /* #9CA998;*/ 
}


.score-snapshot {
    background-color: #d9d9d9;
    color: #454545;
    font-size: larger;
    font-weight: bold;
}

/*.status-DNB, .status-OUT {
    display: none;
}*/

/* For phone screens in potrait (longer) mode*/
@media screen and (orientation:portrait) {
    .status-DNB, .status-OUT {
        display: none;
    }
}


/* For phone screens in landscape (wider) mode*/
@media screen and (orientation:landscape) {
    .status-DNB, .status-OUT {
        display: normal;
        color:#CFDBC5;
    }
}
