@{
    ViewBag.Title = "Scorecard";
}

<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/CricketifyCustom.css" />
    <script src="~/Scripts/CricketifyApp/Scorecard.js"></script>
</head>
<body ng-app="myApp">

    <div class="container">
        <div class="row">
            <h2>Welcome {{1+1}} Cricketify App</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <h3>Score card of Spades vs Australia</h3>
                </div>
                <div class="row">
                    <div style="background-color:lightblue;color:white;">Projected Score: 200 Patnership: 50</div>
                </div>
                <div class="row"> <br /></div>
                <div class="row">
                    <div class="score-table-header">
                        <div class="col-xs-5">Batsman</div>
                        <div class="col-xs-1">R</div>
                        <div class="col-xs-1">B</div>
                        <div class="col-xs-1">4s</div>
                        <div class="col-xs-1">6s</div>
                        <div class="col-xs-1">S/R</div>
                    </div>
                </div>
                <div ng-controller="ScorecardController">
                    <div class="row">
                        <div class="col-xs-5"><strong>{{batsmanOne}}</strong></div>
                        <div class="col-xs-1">{{runs}}</div>
                        <div class="col-xs-1">{{totalBls}}</div>
                        <div class="col-xs-1">{{fours}}</div>
                        <div class="col-xs-1">{{sixers}}</div>
                        <div class="col-xs-1">{{strikeRate()}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><strong>{{batsmanTwo}}</strong></div>
                        <div class="col-xs-1">{{runs}}</div>
                        <div class="col-xs-1">{{totalBls}}</div>
                        <div class="col-xs-1">{{fours}}</div>
                        <div class="col-xs-1">{{sixers}}</div>
                        <div class="col-xs-1">{{strikeRate()}}</div>
                    </div>

                    <div class="row"> <br /></div>

                    <div class="row">
                        <div class="score-table-header">
                            <div class="col-xs-5">Bowlers</div>
                            <div class="col-xs-1">O</div>
                            <div class="col-xs-1">M</div>
                            <div class="col-xs-1">R</div>
                            <div class="col-xs-1">W</div>
                            <div class="col-xs-1">Econ</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">{{bowlerOne}}</div>
                        <div class="col-xs-1">{{overs}}</div>
                        <div class="col-xs-1">{{maidens}}</div>
                        <div class="col-xs-1">{{runs}}</div>
                        <div class="col-xs-1">{{wickets}}</div>
                        <div class="col-xs-1">{{economyRate()}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">{{bowlerTwo}}</div>
                        <div class="col-xs-1">{{overs}}</div>
                        <div class="col-xs-1">{{maidens}}</div>
                        <div class="col-xs-1">{{runs}}</div>
                        <div class="col-xs-1">{{wickets}}</div>
                        <div class="col-xs-1">{{economyRate()}}</div>
                    </div>
                    <br /> <br />

                    <div class="row">
                        <div ng-repeat="item in ScoresTable">
                            <div class="col-xs-1 score-bubble" ng-click="handleScorecardClick(item.zero)">   {{ item.zero }}     </div>
                            <div class="col-xs-1 score-bubble" ng-click="handleScorecardClick(item.one)">    {{ item.one }}      </div>
                            <div class="col-xs-1 score-bubble" ng-click="handleScorecardClick(item.two)">    {{ item.two }}      </div>
                            <div class="col-xs-1 score-bubble" ng-click="handleScorecardClick(item.three)">  {{ item.three }}    </div>
                            <div class="col-xs-1 score-bubble" ng-click="handleScorecardClick(item.four)">   {{ item.four }}     </div>
                            <div class="col-xs-1 score-bubble" ng-click="handleScorecardClick(item.five)">   {{ item.five }}     </div>
                            <div class="col-xs-1 score-bubble" ng-click="handleScorecardClick(item.six)">    {{ item.six }}      </div>
                            <div class="col-xs-2 score-bubble" ng-click="handleScorecardClick(item.wicket)"> {{ item.wicket }}   </div>
                            <div class="col-xs-2 score-bubble" ng-click="handleScorecardClick(item.extra)">  {{ item.extra }}    </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-4"><br /></div>
        </div>
    </div>
</body>
</html>