
@{
    ViewBag.Title = "Index";
}

<html>
    <head>
        <script src="~/Scripts/angular.min.js"></script>
    </head>
    <body ng-app>
        <h2>Welcome {{1+1}} Cricketify App</h2>        
    </body>
</html>


